[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dm-fast-mapping = {path = "./dm_fast_mapping"}
jax = {extras = ["cpu"], version = "*"}
dm-haiku = "*"
bsuite = "*"

[dev-packages]

[requires]
python_version = "3.9"
